.practices{
    padding-top: 88px;
    padding-bottom: 156px;
    background-color: var(--background-practices);
}

.practices__title{
font-family: var(--font-aeonik);
font-weight: 700;
font-size: 16px;
line-height: 120%;
letter-spacing: 0.04em;
color: var(--title-practices);
}