.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  padding-bottom: 44px;
  background-image: url(/assets/images/mobile-menu/mobile-menu.webp);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 9;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  &__header {
    position: relative;
    padding: 13px 0;
    margin-bottom: 46px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  &__btns {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 8px;
  }

  &__nav {
   
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  

  &__link {    
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-inter);
    font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: -0.03em;
color: var(--white);

  }

  &__link.active {    
    
    .mobile-menu__link-text{
 
  background-color: var(--white);
    color: var(--main-button);
  
}

.mobile-menu__arrow{
background-color: var(--white);

.diagonal-arrow{
path{
  fill: var(--main-button);
}
}
}
  }

  

  &__text-box{
    display: flex;
    gap: 12px;
  }


  &__text{
    font-family: var(--font-geist);
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: var(--white);
  }

  &__contacts-wrapper{
    padding: 0px 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 24px;
  }

  &__phone-box{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 16px;
  }

  &__phone-title{
    font-family: var(--font-delight);
font-weight: 400;
font-size: 18px;
line-height: 100%;
color: var(--white);
  }

  &__phone-text{
    font-family: var(--font-delight);
font-weight: 400;
font-size: 18px;
line-height: 100%;
color: var(--white);
  }
}

.mobile-logo{
  width: 76px;
}

.mobile-menu__img{
  width: 100%;
}

.mobile-menu__title{
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--font-geist);
font-weight: 700;
font-size: 78px;
line-height: 100%;
color: var(--white);
}

.mobile-menu__link-text{
  width: 100%;
  background-color: var(--quiz-input);
    padding: 6px 0 6px 12px;
  
}

.mobile-menu__arrow{
  border-radius: 3px;
padding: 6px;
width: 35px;
height: 36px;
background-color: var(--quiz-input);

}

.mobile-menu__img{
   margin-top: 64px;
   border-radius: 24px;
}

.mobile-menu__contacts-box{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.mobile-menu__contact-title, .mobile-menu__hours-title{
  margin-bottom: 16px;
  font-family: var(--font-instrument);
font-weight: 500;
font-size: 16px;
line-height: 90%;
color: var(--subtitle-feedback-color);
}

.mobile-menu__contact-text, .mobile-menu__hours-text{
font-family: var(--font-instrument);
font-weight: 400;
font-size: 15px;
line-height: 120%;
color: var(--white);
white-space: pre-line;
}


.mobile-menu__hours-text{
  width: 100px;
  text-align: end;

  @media screen and (max-width: 968px){
font-size: 14px;
    
  }
}

.mobile-menu__connect-link{
  width: 100%;
  margin-top: 36px;
  display: flex;
  align-items: center;
}

.mobile-menu__connect-arrow{
background-color: var(--light-blue);
border-radius: 3px;
padding: 6px;
width: 35px;
height: 35px;
.diagonal-arrow{
path{
  fill: var(--white);
}}
}

.mobile-menu__connect-link-text{
  width: 90%;
  padding: 9.5px 0;
  display: block;
  border-radius: 4px;
background-color: var(--light-blue);
color: var(--white);
font-family: var(--font-inter);
font-weight: 500;
font-size: 14px;
line-height: 120%;
letter-spacing: -0.03em;
text-align: center;
}

.mobile-menu__close{
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background-color: var(--white);
}