.for-whom{
    padding: 156px 0;
    background-color: var(--background-for-whom);
}

.for-whom__titles{
    margin-bottom: 64px;
}

.for-whom__titles-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: end;
    // background-color: red;
}

.for-whom__title{
    margin-bottom: 2px;
    font-family: var(--font-aeonik);
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.04em;
    color: var(--title-for-whom);
    // background-color: yellow;
}

.for-whom__subtitle{
    font-family: var(--font-canela);
font-style: italic;
font-weight: 500;
font-size: 48px;
line-height: 100%;
letter-spacing: 0em;
color: var(--subtitle-for-whom);
// background-color: white;
}

.for-whom__texts-wrapper{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-left: auto;
}

.for-whom__text{
    font-family: var(--font-aeonik);
font-weight: 400;
font-size: 16px;
line-height: 130%;
letter-spacing: 0em;
white-space: pre-line;
color: var(--subtitle-for-whom);
}