.hero{
    height: 800px;
    padding-bottom: 48px;
    display: flex;
    align-items: end;
    background-image: url(/assets/hero/haro-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__wrapper{
    display: flex;
    justify-content: space-between;
}

.hero__text{
    width: 446px;
    font-family: var(--font-aeonik);
font-weight: 700;
font-size: 16px;
line-height: 120%;
letter-spacing: 0em;
color: var(--title-marquee);
}


.hero__link{
    font-family: var(--font-aeonik);
font-weight: 400;
font-size: 16px;
line-height: 120%;
letter-spacing: 0em;
color: var(--title-marquee);
}