.booking-btn{
    font-family: var(--font-aeonik);
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0em;
    text-transform: uppercase;
    color: var(--blue);

    padding: 12px 16px;
    background-color: var(--booking-btn-background);
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;

    &:hover{
        background-color: var(--blue);
        color: var(--booking-btn-background);
    }
}

