.nav {
  position: fixed;
//   top: 24px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__links {
  position: absolute;
  z-index: 1;
  top: -20px;
  display: flex;
  gap: 96px;
}

.nav__link {
  font-family: var(--font-aeonik);
 font-weight: 400;
font-size: 16px;
line-height: 120%;
letter-spacing: 0em;
  color: var(--blue);
  text-decoration: none;
  cursor: pointer;

  &:hover{
    text-shadow: 0.8px 0 0 currentColor;
    }

    &.active{
    text-shadow: 0.8px 0 0 currentColor;
    }
}

.nav__menu {
    position: absolute;
    z-index: 4;
    top: -20px;
  font-family: var(--font-aeonik);
  font-weight: 400;
font-size: 16px;
line-height: 120%;
letter-spacing: 0em;
  color: var(--blue);
  text-shadow: 0.8px 0 0 currentColor;
  cursor: pointer;

 
}


// .nav {
//     position: relative;
//         display: flex;
//     gap: 96px;
// //   position: fixed;
// //   top: 0;
// //   width: 100%;
// //   height: 64px;
// //   display: flex;
// //   align-items: center;
// //   justify-content: center;
// //   overflow: hidden;
// //   background: white;
// //   z-index: 100;
// }

// // .nav__links {
// //   display: flex;
// //   gap: 32px;
// // }

// .nav__links {
//   position: absolute;
//   display: flex;
//   gap: 32px;
// }

// .nav__menu {
//   font-family: var(--font-aeonik);
//     font-weight: 400;
//     font-size: 16px;
//     line-height: 120%;
//     letter-spacing: 0em;
//     color: var(--blue);
//     transition: text-shadow 0.3s ease;

//     &:hover{
//     text-shadow: 0.8px 0 0 currentColor;
//     }
// }

// .nav__link {
//       font-family: var(--font-aeonik);
//     font-weight: 400;
//     font-size: 16px;
//     line-height: 120%;
//     letter-spacing: 0em;
//     color: var(--blue);
//     transition: text-shadow 0.3s ease;

//     &:hover{
//     text-shadow: 0.8px 0 0 currentColor;
//     }

//     &.active{
//     text-shadow: 0.8px 0 0 currentColor;
//     }
// }

////////////////////////////////

// .nav{
//     display: flex;
//     gap: 96px;
// }

// .nav__link{
//     font-family: var(--font-aeonik);
//     font-weight: 400;
//     font-size: 16px;
//     line-height: 120%;
//     letter-spacing: 0em;
//     color: var(--blue);
//     transition: text-shadow 0.3s ease;

//     &:hover{
//     text-shadow: 0.8px 0 0 currentColor;
//     }

//     &.active{
//     text-shadow: 0.8px 0 0 currentColor;
//     }
// }