@font-face {
  font-family: "Aeonik";
  src: url("/fonts/AeonikTRIAL-Light.woff2") format("woff2"),
    url("/fonts/AeonikTRIAL-Light.woff") format("woff");
  font-weight: 300; // Light
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aeonik";
  src: url("/fonts/AeonikTRIAL-Regular.woff2") format("woff2"),
    url("/fonts/AeonikTRIAL-Regular.woff") format("woff");
  font-weight: 400; // Regular
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aeonik";
  src: url("/fonts/AeonikTRIAL-Bold.woff2") format("woff2"),
    url("/fonts/AeonikTRIAL-Bold.woff") format("woff");
  font-weight: 700; // Bold
  font-style: normal;
  font-display: swap;
}



//Canela


@font-face {
  font-family: "Canela";
  src: url("/fonts/Canela-Thin.woff2") format("woff2"),
    url("/fonts/Canela-Thin.woff") format("woff");
  font-weight: 200; // Thin
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url("/fonts/Canela-Light.woff2") format("woff2"),
    url("/fonts/Canela-Light.woff") format("woff");
  font-weight: 300; // Light
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url("/fonts/Canela-Regular.woff2") format("woff2"),
    url("/fonts/Canela-Regular.woff") format("woff");
  font-weight: 400; // Regular
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url("/fonts/Canela-Medium.woff2") format("woff2"),
    url("/fonts/Canela-Medium.woff") format("woff");
  font-weight: 500; // Medium
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url("/fonts/Canela-Bold.woff2") format("woff2"),
    url("/fonts/Canela-Bold.woff") format("woff");
  font-weight: 700; // Bold
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Canela";
  src: url("/fonts/Canela-Black.woff2") format("woff2"),
    url("/fonts/Canela-Black.woff") format("woff");
  font-weight: 900; // Black
  font-style: normal;
  font-display: swap;
}