:root {
  --container-width: 1400px;
  --container-width-mobile: 358px;
  --container-padding: 40px;

//background
--background-for-whom: #fef8dc;

//content
--content-primary: #121B60;
--content-secondary: #7176a0;
--content: #ededed;


//buttons
--booking-btn-background: #e0f6ff;

//title
--title-for-whom:  #2b4034b3;

//subtitle
--subtitle-for-whom: #2b4034;


//text
--title-marquee: #fef8dd;

//slider
--card-background: #f7f7f7;


//map
--map-overlay: #f4f4f4;

//line
  --line-color: #ffffff33;


  --laptop-size: 1400px;
  --mobile-size: 358px;

  // Colors
  --blue: #314c98;

  --black: #0c0c0c;
  --white: #fff;
  --white-transparent: #ffffff27;
  --light-blue: #179bd7;
  --light-gray: #8080803b;


  // Fonts
  --font-canela: "Canela", sans-serif;
  --font-aeonik: "Aeonik", sans-serif;

}
